/*        Buttons        */
.btn-floating {
  top: 3px; }

.center .btn-large,
.center .btn-large:active,
.center .btn-large:focus,
.center .btn-large:visited {
  margin: auto;
  color: #2962ff;
  background-color: transparent;
  border: 2px solid #2962ff;
  width: 140px;
  padding: 0; }
  @media only screen and (min-width: 768px) {
    .center .btn-large,
    .center .btn-large:active,
    .center .btn-large:focus,
    .center .btn-large:visited {
      width: 165px;
      font-size: 1.5rem; } }

.btn,
.btn:active,
.btn:visited,
.btn-floating,
.btn-floating:active,
.btn-floating:visited {
  background-color: #ff4081;
  text-transform: none; }

.btn:focus,
.btn:hover,
.btn-floating:focus,
.btn-floating:hover {
  background-color: #ff669a; }

.filter-btn {
  margin-bottom: 20px; }

/*        Footer        */
footer {
  border-top: #2962ff solid 2px;
  clear: both;
  position: relative;
  width: 100%; }
  footer .row {
    margin-bottom: 0; }

/*        Nav        */
.navbar-fixed {
  z-index: 999; }

nav {
  background-color: #fff;
  border-bottom: #2962ff solid 2px;
  box-shadow: none;
  height: 8vh; }
  @media only screen and (min-width: 768px) {
    nav {
      height: 6vh; } }
  @media only screen and (min-width: 992px) {
    nav {
      height: 5vh;
      padding-left: 20px; } }
  @media only screen and (min-width: 1200px) {
    nav {
      height: 8vh; } }
  nav .brand-logo {
    color: #2962ff; }
  nav a {
    color: #2962ff; }
  nav ul a {
    color: #2962ff; }

.side-nav li > a {
  color: #4576ff; }
  .side-nav li > a i.material-icons {
    color: #4576ff; }

/*        General        */
body {
  min-height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2962ff; }

h6 {
  font-size: 1.25rem; }

a {
  color: #2962ff; }

pre {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

.section {
  min-height: 80.8vh; }
  @media only screen and (min-width: 768px) {
    .section {
      min-height: 86.6vh; } }
  @media only screen and (min-width: 992px) {
    .section {
      min-height: 89.6vh; } }
  @media only screen and (min-width: 1200px) {
    .section {
      min-height: 80.8vh; } }

.input-field .top-label {
  position: absolute;
  top: -26px;
  font-size: 0.8rem; }

/*        Index        */
.index-btn {
  padding-top: 20vh;
  margin-bottom: 5vh; }
  @media only screen and (min-width: 768px) {
    .index-btn {
      padding-top: 30vh; } }

.index-vp {
  width: 100%;
  height: 95vh; }

.btn-margin {
  margin-bottom: 3vh; }

.keyboard_arrow_down {
  padding-top: 25vh; }
  @media only screen and (min-width: 768px) {
    .keyboard_arrow_down {
      padding-top: 35vh; } }
  @media only screen and (min-width: 992px) {
    .keyboard_arrow_down {
      padding-top: 30vh; } }

/*        Recipes        */
#filters {
  display: none; }

/*        Full recipe        */
.header {
  margin-bottom: 0; }

.username {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px; }

/*        Data        */
.data-heading {
  margin-top: -20px;
  margin-bottom: 10px; }

/*# sourceMappingURL=style.css.map */
