.btn-floating {
    top: 3px;
}

.index-h1 {
    margin-top: 20vh;
}

.center .btn-large {
    margin: auto;
    color: $primary-color;
    background-color: transparent;
    border: 2px solid $primary-color;
    width: 140px;
    padding: 0;
}
