/*        General        */

body {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
}

h6 {
    font-size: 1.25rem;
}

a {
    color: $primary-color;
}

pre {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.section {
    min-height: 80.8vh;
    
    @media only screen and (min-width: $medium-break) {
        min-height: 86.6vh;
    }
    
    @media only screen and (min-width: $large-break) {
        min-height: 89.6vh;
    }
    
    @media only screen and (min-width: $x-large-break) {
        min-height: 80.8vh;
    }
}

.input-field .top-label {
    position: absolute;
    top: -26px;
    font-size: .8rem
}


/*        Index        */

.index-btn {
    padding-top: 20vh;
    margin-bottom: 5vh;
    
    @media only screen and (min-width: $medium-break) {
        padding-top: 30vh;
    }
}

.index-vp {
    width: 100%;
    height: 95vh;
}

.btn-margin {
    margin-bottom: 3vh;
}

.keyboard_arrow_down {
    padding-top: 25vh;
    
    @media only screen and (min-width: $medium-break) {
        padding-top: 35vh;
    }
    
    @media only screen and (min-width: $large-break) {
        padding-top: 30vh;
    }
}


/*        Recipes        */

#filters {
    display: none;
}


/*        Full recipe        */

.header {
    margin-bottom: 0;
}

.username {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
}


/*        Data        */

.data-heading {
    margin-top: -20px;
    margin-bottom: 10px;
}
