{% extends 'base.html' %} {% block content %}


<h3>
    Add Recipe
</h3>

<div class="row">
    <form class="col s12" action="{{ url_for('insert_recipe') }}" method="POST">

        <div class="row">
            <div class="input-field col s12 m8">
                <input placeholder="Recipe name" id="recipe_name" name="recipe_name" type="text" class="validate" data-length="50">
            </div>

            <div class="input-field col s12 m4">
                <input placeholder="Username" id="username" name="username" type="text" class="validate">
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Description" id="description" name="description" class="materialize-textarea" data-length="200"></textarea>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12 m10">
                <select name="main_ingredient">

<!--
Padding-top is different here to what it is for rows
-->

                    {% for ingredient in ingredients %}
                    <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                    {% endfor %}
                </select>
                <label>Main ingredient</label>
            </div>

            <div class="col s12 m2">
                <div class="switch">
                    <label>
                        Vegetarian
                    </label><br>
                    <label>
                        No
                        <input type="checkbox" id="vegetarian" name="vegetarian" value="Yes">
                        <span class="lever"></span>
                        Yes
                    </label>
                </div>
            </div>
        </div>

        <!--
Padding-top is different here to what it is for rows
-->


        <div class="row">
            <div class="input-field col s12 m6">
                <select name="serves">
                    {% for portion_size in portion_sizes %}
                    <option value="{{portion_size.serves}}">{{portion_size.serves}}</option>
                    {% endfor %}
                </select>
                <label>Portion size</label>
            </div>

            <div class="input-field col s12 m6">
                <select name="time">
                    {% for total_time in total_times %}
                    <option value="{{total_time.time}}">{{total_time.time}}</option>
                    {% endfor %}
                </select>
                <label>Total time to prepare and cook</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s9 m4">
                <select name="ingredients" multiple>
                    {% for ingredient in ingredients %}
                    <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                    {% endfor %}
                </select>
                <label>Ingredients</label>
            </div>
            <div class="input-field col s3 m2">
                <a href="{{ url_for('add_ingredient') }}" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>

<!--
.input-field .top-label isn't working... Neither is btn-floating.
-->

                <label class="top-label">Add ingredient</label>
            </div>

            <div class="input-field col s9 m4">
                <select name="allergens" multiple>
                    {% for allergen in allergens %}
                        {% if allergen.allergen_name == "No allergens" %}
                        <option value="{{ allergen.allergen_name }}" selected>{{ allergen.allergen_name }}</option>
                        {% else %}
                        <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Allergens</label>
            </div>
            <div class="input-field col s3 m2">
                <a href="{{ url_for('add_allergen') }}" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">add</i></a>

<!--
.input-field .top-label isn't working... Neither is btn-floating.
-->
                <label class="top-label">Add allergen</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Method" id="method" name="method" class="materialize-textarea" style="white-space: pre-wrap;">1. 
2. 
3. 
4. </textarea>
                <label>Method (please include ingredient quanitities)</label>
            </div>
        </div>


        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>

    </form>
</div>


{% endblock %}
