<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Subify | Make sandwiches fun again!
    </title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />

</head>


<body>
    
    <header>
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('index')}}" class="brand-logo">Subify</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('get_recipes') }}">Recipes</a></li>
                        <li><a href="{{ url_for('add_recipe') }}">Add Recipe</a></li>
                        <li><a href="{{ url_for('data') }}">Data</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{ url_for('index') }}"><i class="material-icons">home</i>Home</a></li>
                        <li><a href="{{ url_for('get_recipes') }}"><i class="material-icons">search</i>Recipes</a></li>
                        <li><a href="{{ url_for('add_recipe') }}"><i class="material-icons">note_add</i>Add Recipe</a></li>
                        <li><a href="{{ url_for('data') }}"><i class="material-icons">data_usage</i>Data</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    

    <div class="container section">

        {% block content %} {% endblock %}

    </div>
    
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 center-align">
                    <p>
                        &copy; Subify 2019<br>
                        Website made by <a href="https://github.com/jamesahorne" target="_blank">jamesahorne</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    {% block extra_js %} {% endblock %}
    
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
            $(".button-collapse").sideNav();
        });
    </script>

</body>

</html>