{% extends 'base.html' %} {% block content %}


<h3>
    Data
</h3>

<div class="row">
    <div class="row">
        <div class="input-field col s12 m6">
            <h4><i class="material-icons">pie_chart</i> Main ingredients</h4>
            <div id="main_ingredient"></div>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s12 m6">
            <h4><i class="material-icons">equalizer</i> Meat vs vegetarian recipes</h4>
            <div id="vegetarian"></div>
        </div>


        <div class="input-field col s12 m6">
            <h4><i class="material-icons">equalizer</i> Total time until eating</h4>
            <div id="time"></div>
        </div>


        <div class="input-field col s12 m6">
            <p>The stats for this page are live, based off our {{ recipe_count }} recipes.</p>
        </div>
    </div>

</div>


{% endblock %}
