{% extends 'base.html' %} {% block content %}


<h1>
    Data
</h1>


<div class="row">
    <div class="input-field col s12">
        <p>The stats for this page are live, based off our {{ recipe_count }} recipes.</p>
    </div>
</div>


<div class="row">
    <div class="input-field col s12">
        <h6>Main ingredients</h6>
        <div id="main_ingredient"></div>
    </div>
    
    
    <div class="input-field col s12">
        <h6>Allergens</h6>
        <div id="allergens"></div>
    </div>
</div>


<div class="row">
    <div class="input-field col s12">
        <h6>Meat vs vegetarian recipes</h6>
        <div id="vegetarian"></div>
    </div>
    
    
    <div class="input-field col s12">
        <h6>Total time until eating</h6>
        <div id="time"></div>
    </div>
</div>


{% endblock %}


{% block extra_js %}


<script type="text/javascript" src="{{ url_for('static', filename='js/charting_libs/d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charting_libs/crossfilter.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charting_libs/dc.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/charting_libs/queue.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/data.js') }}"></script>


{% endblock %}
