<!--
materialize icon: data_usage
graph-looking icon: equalizer, insert_chart, pie_chart, poll, show_chart
-->


{% extends 'base.html' %} {% block content %}


<h3>
    Data
</h3>

<div class="row">
    <div class="row">
        <div class="input-field col s12 m6 center-align">
            <h4>Most popular recipes</h4>
            <div id="most_popular"></div>
        </div>


        <div class="input-field col s12 m6 center-align">
            <h4>Main ingredients</h4>
            <div id="main_ingredient"></div>
        </div>
    </div>


    <div class="row">
        <div class="input-field col s12 m6 center-align">
            <h4>Meat vs vegetarian recipes</h4>
            <div id="vegetarian"></div>
        </div>


        <div class="input-field col s12 m6 center-align">
            <h4>Total time until eating</h4>
            <div id="total_time"></div>
        </div>
    </div>

</div>


{% endblock %}
