{% extends 'base.html' %} {% block content %}


<h3>
    Edit Recipe
</h3>

<div class="row">
    <form class="col s12" action="{{ url_for('update_recipe', recipe_id=recipes._id) }}" method="POST">

        <div class="row">
            <div class="input-field col s12 m8">
                <input value="{{recipes.recipe_name}}" placeholder="Recipe name" id="recipe_name" name="recipe_name" type="text" class="validate" data-length="50">
            </div>
            
            <div class="input-field col s12 m4">
                <input value="{{recipes.username}}" placeholder="Username" id="username" name="username" type="text" class="validate">
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Description" id="description" name="description" class="materialize-textarea" data-length="200">{{recipes.description}}</textarea>
            </div>
        </div>
        
        
        <div class="row">
            <div class="input-field col s12 m10">
                <select  name="main_ingredient">

<!--
Padding-top is different here to what it is for rows

How to have the recipes, ingredients and allergens alphabetically ordered in Mongo?
-->

                    {% for ingredient in ingredients %}
                        {% if ingredient.ingredient_name == recipes.ingredient_name %}
                        <option value="{{ ingredient.ingredient_name }}" selected>{{ ingredient.ingredient_name }}</option>
                        {% else %}
                        <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Main ingredient</label>
            </div>
            
            <div class="col s12 m2">
                <div class="switch">
                    <label>
                        Vegetarian
                    </label><br>
                    <label>
                        {% if recipes.vegetarian %}
                        <input type="checkbox" id="vegetarian" name="vegetarian" checked>
                        {% else %}
                        <input type="checkbox" id="vegetarian" name="vegetarian">
                        {% endif%}
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>

<!--
Padding-top is different here to what it is for rows
-->


        <div class="row">
            <div class="input-field col s12 m6">
                <select name="serves">
                    {% for portion_size in portion_sizes %}
                        {% if portion_size.serves == recipes.serves %}
                        <option value="{{portion_size.serves}}" selected >{{portion_size.serves}}</option>
                        {% else %}
                        <option value="{{portion_size.serves}}">{{portion_size.serves}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Portion size</label>
            </div>

            <div class="input-field col s12 m6">
                <select name="time">
                    {% for total_time in total_times %}
                        {% if total_time.time == recipes.total_time %}
                        <option value="{{total_time.time}}" selected >{{total_time.time}}</option>
                        {% else %}
                        <option value="{{total_time.time}}">{{total_time.time}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Total time to prepare and cook</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s9 m5">
                <select name="ingredients" multiple>
                    {% for ingredient in ingredients %}
                    
<!--
Is this the correct way to increment the value for each loop?

How do I add a way for the user to include how much of the ingredient e.g. "20g" cheese

If the   value="{{ ingredient.ingredient_name }}"   doesn't work, check out code in   Adding A Task - Accepting User Input > Allow Task Category Selection
-->
                    
                        {% if ingredient.ingredient_name == recipes.ingredient_name %}
                        <option value="{{ ingredient.ingredient_name }}" selected>{{ ingredient.ingredient_name }}</option>
                        {% else %}
                        <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Ingredients</label>
            </div>
            <div class="input-field col s3 m1">
                <a href="{{ url_for('add_ingredient') }}" class="btn-floating waves-effect waves-light red"><i class="material-icons">add</i></a>
<!--
.input-field .top-label isn't working... Neither is btn-floating.
-->
                <label class="top-label">Add ingredient</label>
            </div>

            <div class="input-field col s9 m5">
                <select name="allergen" multiple>
                    {% for allergen in allergens %}
                        {% if allergen.allergens == recipes.allergens %}
                        <option value="{{ allergen.allergen_name }}" selected>{{ allergen.allergen_name }}</option>
                        {% else %}
                        <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Allergens</label>
            </div>
            <div class="input-field col s3 m1">
                <a href="{{ url_for('add_allergen') }}" class="btn-floating btn waves-effect waves-light red"><i class="material-icons">add</i></a>
<!--
.input-field .top-label isn't working... Neither is btn-floating.
-->
                <label class="top-label">Add allergen</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field col s12">
                <textarea placeholder="Method" id="method" class="materialize-textarea" style="white-space: pre-wrap;">1. 
2. 
3. 
4. </textarea>
                <label>Method - please keep for the following format</label>
            </div>
        </div>
        
        
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>

    </form>
</div>


{% endblock %}
