{% extends 'base.html' %} {% block content %}


<!--
filter icon: filter_list, sort? Do I need an icon?
for pagination: first_page, last_page
search: search
-->


<ul class="collapsible popout" data-collapsible="expandable">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <h6>{{ recipe.recipe_name }}</h6>
        </div>
        <div class="collapsible-body row"><span>
            <strong>Main ingredient: {{ recipe.main_ingredient }}</strong><br>
            {{ recipe.description }} <a href="#">See more</a>
        </span></div>
    </li>
    {% endfor %}
</ul>


{% endblock %}
