{% extends 'base.html' %} {% block content %}



<h1>
    Recipes
</h1>


<button class="waves-effect waves-light btn filter-btn" onclick="filtersToggle()">Filter recipes</button>


<div class="row" id="filters">
    <div class="col s12">
        <form action="{{ url_for('get_recipes') }}" method="GET" id="filterForm">
            
            <div class="row">
                <div class="input-field col s12 m4">
                    <select name="main_ingredient">
                        <option value="">Please select one</option>
                        {% for ingredient in ingredients %}
                        <option value="{{ ingredient.ingredient_name }}">{{ ingredient.ingredient_name }}</option>
                        {% endfor %}
                    </select>
                    <label>Main ingredient</label>
                </div>


                <div class="input-field col s12 m4">
                    <select name="vegetarian">
                        <option value="">Please select one</option>
                        {% for veggie in vegetarian %}
                        <option value="{{ veggie.vegetarian }}">{{ veggie.vegetarian }}</option>
                        {% endfor %}
                    </select>
                    <label>Vegetarian</label>
                </div>


                <div class="input-field col s12 m4">
                    <select name="time">
                        <option value="">Please select one</option>
                        {% for total_time in total_times %}
                        <option value="{{total_time.time}}">{{total_time.time}}</option>
                        {% endfor %}
                    </select>
                    <label>Total time to prepare and cook</label>
                </div>
            </div>


            <div class="row">
                <div class="col s12 center-align">
                    <button class="waves-effect waves-light btn" type="submit">Filter</button>

                    <input class="waves-effect waves-light btn" type="reset" value="Reset">
                </div>
            </div>

        </form>
    </div>
</div>


<ul class="collapsible popout" data-collapsible="expandable">
    {% for recipe in recipes %}
    <li>
        <div class="collapsible-header"><i class="material-icons">expand_more</i>
            <h6>{{ recipe.recipe_name }}</h6>
        </div>
        <div class="collapsible-body row">
            <h6>Description</h6>
            <p>{{ recipe.description }}</p>
            <h6>Main Ingredient</h6>
            <p>{{ recipe.main_ingredient }}</p>
            <h6>Vegetarian</h6>
            <p>{{ recipe.vegetarian }}</p>
            <p><a href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">See full recipe</a></p>
        </div>
    </li>
    {% endfor %}
</ul>


{% endblock %}
